# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints

# VS Code
.vscode/
*.code-workspace

# Streamlit
.streamlit/secrets.toml

# Data (si no quieres subir CSVs grandes)
# data/raw/*.csv
# data/processed/*.csv

# Modelos (si son muy pesados)
# models/*.pkl
# models/*.h5

# MacOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Environment variables
.env
.env.local

# Logs
*.log

# Temporary files
*.tmp
*.temp
~*